{
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "importOrder": [
    "^react$",
    "react",
    "<THIRD_PARTY_MODULES>",
    "^config",
    "^app",
    "^shared\\/",
    "^mocks\\/",
    "^tests\\/",
    "^[./](?!.+\\.(\\w){1})",
    "^[./].+\\.(\\w){1}"
  ]
}
